<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>세미프로젝트</title>
  <style>
    #menu { border-bottom: 2px solid black;  }
    #menu li{ display: inline; padding-left: 120px; }
    a:link { color:black; text-decoration: none; }
    a:visited { color: black; text-decoration: none; }
    a:hover { color: darkred; text-decoration: none; }
    a:active { color: orange; }

    #ft { width: 100%;
      border-top: 2px solid black; position: fixed;
      top: 95%; bottom: 0; text-align: center; }
  </style>
</head>
<body>
  <div id="wrap">
  <header><h1>세미프로젝트 v1</h1></header>
  <nav><ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/member/join">회원가입</a></li>
    <li><a href="/member/login">로그인</a></li>
    <li><a href="/board/list">게시판</a></li>
    <li><a href="/member/myinfo">회원정보</a></li>
    </ul>

  </nav>
  <main></main>
  <footer>

    <p id="ft">copyright &copy; 2024. yoonsun. All Rights Reserved</p>
  </footer>
  </div>
</body>
</html>