<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>세미프로젝트</title>
</head>
<body>
  <div id="wrap">
    <header><h1>세미프로젝트 v1</h1></header>
    <nav><ul>
      <li><a href="/">Home</a></li>
      <li><a href="/member/join">회원가입</a></li>
      <li><a href="/member/login">로그인</a></li>
      <li><a href="/board/list">게시판</a></li>
      <li><a href="/member/myinfo">회원정보</a></li>
    </ul>
      <hr>
    </nav>
    <main>
      <h2>게시판</h2>
      <table border="1" cellspacing="0" cellpadding="8">
        <thead>
          <tr><td colspan="3"><select name="findtype" id="findtype">
            <option value="title">제 목</option>
            <option value="userid">작성자</option>
            <option value="contents">본 문</option>
            <option value="titcont">제목+본문</option>
            </select>
            <input type="text" name="search" id="search">
            <button type="button id=findbtn">검색하기</button></td>
            <td colspan="2"><button type="button" id="witebtn" onclick="location.href='/board/write'">글쓰기</button></td></tr>
          <tr><th>번호</th><th>제목</th><th>작성자</th>
            <th>작성일</th><th>조회</th></tr>
        </thead>

        <tbody>
            <tr><td align="center">1</td><td><a href="/board/view?bid=1">시간은 금이라구, 친구! 진짜라구, 친구! 정말...</a></td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">2</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">3</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">4</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">5</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">1</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">2</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">3</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">4</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">5</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">1</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">2</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">3</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">4</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">5</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">1</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">2</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">3</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">4</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">5</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">1</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">2</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">3</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">4</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
            <tr><td align="center">5</td><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말...</td>
              <td>siestageek</td><td>2024-07-30</td><td>777</td></tr>
        </tbody>
      </table>
      <div>
      <ul><li>이전</li><li>1</li><li>2</li><li>3</li><li>4</li><li>5</li>
        <li>6</li><li>7</li><li>8</li><li>9</li><li>10</li><li>다음</li></ul>
      </div>
    </main>
    <footer>
      <hr>
      <p>copyright &copy; 2024. yoonsun. All Rights Reserved</p>
    </footer>
  </tr>
  </div>
</body>
</html>