<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>세미프로젝트</title>
</head>
<body>
<div id="wrap">
  <header><h1>세미프로젝트 v1</h1></header>
  <nav><ul>
    <li><a href="/">Home</a></li>
    <li><a href="/member/join">회원가입</a></li>
    <li><a href="/member/login">로그인</a></li>
    <li><a href="/board/list">게시판</a></li>
    <li><a href="/member/myinfo">회원정보</a></li>
  </ul>
    <hr>
  </nav>
  <main>
    <h2>본문글 수정</h2>
    <form action="modifyfrm" method="post">
      <table cellpadding="5">
        <tr><th>제목</th><td><input type="text" name="title" id="title" value="시간은 금이라구, 친구! 진짜라구, 친구! 정말..."></td></tr>
        <tr><th>작성자</th><td><input type="text" name="userid" id="userid" value="yoon123" readonly></td></tr>
        <tr><th>본문</th><td><textarea name="contents" id="contents" rows="10" cols="45" required>시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!시간은 금이라구, 친구!</textarea></td></tr>
        <tr><td colspan="2">
          <button type="button" id="listbtn" onclick="location.href='/board/view?bid=1'">본문글로</button>
          <button type="submit" id="modifyokbtn">수정완료</button>
        </td></tr>
      </table>
    </form>
  </main>
  <footer>
    <hr>
    <p>copyright &copy; 2024. yoonsun. All Rights Reserved</p>
  </footer>
</div>
</body>
</html>