<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>세미프로젝트</title>
  <style>
    #menu li{ display: inline;
      text-decoration: underline; padding-left: 120px; }
    a:visited { color: black }
  </style>
</head>
<body>
  <div id="wrap">
    <header><h1>세미프로젝트 v1</h1></header>
    <nav><ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/member/join">회원가입</a></li>
      <li><a href="/member/login">로그인</a></li>
      <li><a href="/board/list">게시판</a></li>
      <li><a href="/member/myinfo">회원정보</a></li>
    </ul>
      <hr>
    </nav>
    <main>
      <h2>본문글</h2>
      <table cellpadding="5">
        <tr><th>제목</th><td>시간은 금이라구, 친구! 진짜라구, 친구! 정말이라구, 친구! 참말이라구, 친구</td></tr>
        <tr><th>작성자</th><td>yoon123</td></tr>
        <tr><th>작성일</th><td>2024-07-30 12:52:00 (777)</td></tr>
        <tr><th>본문</th><td style="border: 3px solid khaki">시간은 금이라구, 친구!!시간은 금이라구, 친구!!시 간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간 은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금 이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이 라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라 구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친 구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구 !!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!! 시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시 간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간 은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금 이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이 라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라 구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구 , 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친 구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구 !!시간은 금이라구, 친구!!시간은 금이라구, 친구!!시간은 금이라구, 친구!! 시간은 금이라구, 친구!!</td></tr>
        <tr><td colspan="2">
          <button type="button" id="listbtn" onclick="location.href='/board/list'">리스트로</button>
          <button type="button" id="mdfybtn" onclick="location.href='/board/modify'">수정하기</button>
          <button type="button" id="rmvbtn">삭제하기</button>
        </td></tr>
      </table>
    </main>
    <footer>
      <hr>
      <p>copyright &copy; 2024. yoonsun. All Rights Reserved</p>
    </footer>
  </div>
</body>
</html>
red">금</span>