<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>세미프로젝트</title>
  <link rel="stylesheet" href="/static/css/project.css">
  <style>

  </style>
  </head>
<body>
  <div id="wrap">
    <header><h1>세미프로젝트 v1</h1></header>
    <nav><ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/member/join">회원가입</a></li>
      <li><a href="/member/login">로그인</a></li>
      <li><a href="/board/list">게시판</a></li>
      <li><a href="/member/myinfo">회원정보</a></li>
    </ul>
      <hr>
    </nav>
    <main>
      <h2>글쓰기</h2>
      <form action="writefrm" method="post">
          <table cellpadding="5">
              <tr><th>제목</th><td><input type="text" name="title" id="title" required></td></tr>
              <tr><th>작성자</th><td><input type="text" name="userid" id="userid" value="yoon123" readonly></td></tr>
            <tr><th>본문</th><td><textarea name="contents" id="contents" rows="10" cols="45" required></textarea></td></tr>
              <tr><td colspan="2">
                  <button type="button" id="listbtn" onclick="location.href='/board/list'">리스트로</button>
                  <button type="submit" id="writeokbtn">작성완료</button>
              </td></tr>
          </table>
      </form>
    </main>
    <footer>
      <hr>
      <p>copyright &copy; 2024. yoonsun. All Rights Reserved</p>
    </footer>
  </div>
</body>
</html>