#wrap { width: 1080px; border: 1px solid red;
    margin: 0 auto; }
nav ul { list-style: none; padding: 0; }
nav li { display: inline; padding: 0 75px; }

a:link { color:black; text-decoration: none; font-weight: bold; }
a:visited { color: black; }
a:hover { color: lightgrey; text-decoration: underline; }
a:active { color: dimgray; }

main { min-height: 500px;   }
hr { height: 2px; background: dimgray; }

footer p { text-align: center; }